# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testings
/coverage

# next.js
/.next/
/out/



# local env files
.env

# vercel
.vercel
